/* setting parameters for whole page */
body {
    font-family: 'Special Gothic Expanded One', sans-serif;
    text-align: center;
    background-color: #000000;
    color: #434343;
    margin: 0;
  }

  /* setting up nav bar */
  nav {
    display: flex;                  
    justify-content: space-between;              
    background-color: #000000;
    padding: 10px 50px 10px 10px;
  }

  /* styling nav bar */
  .nav-right li {
    margin: 0 15px;
  }

  /* style for nav list */
  nav ul {
    margin: 0;
    display: flex;
    list-style: none;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
  nav ul li a:hover {
    color: #c4c3c1;
  }

/* logo styling */
.logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0 15px;
  }
  .logo a:hover {
    color: #c4c3c1;    
    cursor: pointer;     
    transition: color 0.3s ease;
  }

/* profile pic */
  .profile-container {
    position: relative;
    width: 360px; 
    height: 360px;
    margin-left: 200px; 
    margin-top: 30px;
  }
  .profile-pic {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px; 
    z-index: 1;    
  }

/* background picture */
  .background-picture {
    position: absolute;
    top: -60px;
    left: -60px;
    width: 470px;  
    height: 470px;
  }

/* text layout */
.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
  margin-top: 70px;
}
.intro-section {
  max-width: 700px;
  text-align: left;
  color: white;
}
.intro-section p {
  font-size: 20px;
  text-align: left; 
}
.intro-text {
  font-size: 30px;
  line-height: 1.6;
  color: #c4c4c4;
}

/* tilt & shake animation */
.shake {
  width: 700px; 
  display: inline-block;
  animation: turnshake 0.90s infinite ease-in-out;
  margin-bottom: 10px;
}
@keyframes turnshake {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(3deg); }
  40%  { transform: rotate(3deg); }
  60%  { transform: rotate(0deg); }
  80%  { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

/* connect & contact with me section */
.intro-link {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
.intro-link:visited {
  color: white;
}
.intro-link:hover {
  color: #c4c3c1;
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
}
