/* setting parameters for the entire page */
body {
    font-family: 'Special Gothic Expanded One', sans-serif;
    text-align: center;
    background-color: #000000;
    color: #434343;
    margin: 0;
    padding: 0;
  }

  /* setting up navigation bar */
  nav {
    display: flex;                  
    justify-content: space-between;   
    align-items: center;             
    background-color: #000000;
    padding: 10px 50px 10px 10px;
    font-family: 'Special Gothic Expanded One', sans-serif;
  }

  /* nav bar right - styling */
  .nav-right li {
    margin: 0 15px;
  }
  .nav-right li a:hover {
    color: #c4c3c1;
  }
  /* Styling for the navigation list */
  nav ul {
    margin: 0;
    display: flex;
  }
 
  /* Navigation links styling */
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  /* hover effect for nav links */
  nav ul li a:hover {
    color: #c4c3c1;
  }


/* logo/left hand side styling */
.logo {
    font-family: 'Special Gothic Expanded One', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  .logo:hover,
.nav-left:hover {
  color: #c4c3c1;    
  cursor: pointer;     
  transition: color 0.3s ease;  
}
