/* entire background styling */
body {
    font-family: 'Times New Roman', Times, serif;;
    text-align: center;
    background-color: #000000;
    color: #1124ff; /* rest of the text color */
    margin: 0;
    padding: 0;
    font-size: 18px;
}

/* navigation bar styling */
nav {
    background-color: #000000;
    padding: 10px 0;
}

/* Styling for the navigation list */
nav ul {
    list-style: none;
    padding: 10px 20px;
    margin-left: 15px;
    display: flex;
    justify-content: flex-end;
}

/* navigation spacing */
nav ul li {
    margin: 0 20px;
}

/* navigation texts */
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255); /* text color */
    font-size: 18px;
}

/* hover color & effect */
nav ul li a:hover {
    color: #c4c3c1;
}

/* welcome text styles */
h1 {
    margin-top: 50px;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s ease;
}

/* welcome when hovered color changed */
h1:hover {
    color: #1dffc7;
}